body{
    background-color: #DBC9DF;
}

h1,h2,h3{
    font-family: Tahoma;
}

#username{
    border-radius: 30px;
    font-family: Tahoma;
    background-color: white;
}

#password{
    border-radius:30px;
    font-family: Tahoma;
    background-color: white;

}

#submit{
    border-radius: 30px;
    background-color: purple;
    color: white;
}