*{
   background-color: skyblue;
    text-align: justify;
    margin: 0px;
    padding: 0px;}


h1{
    color: midnightblue;
    font-family: 'Lobster', cursive;
    font-size: 50pt;
    padding: 10px;
    text-align: center}



li{
    float: left;
    list-style: none;
    margin:0;
    overflow:hidden;
    background-color: blue;}



a{
    display:inline-block;
    width: 550px;
    height: 20px;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: midnightblue;
    text-decoration: none;
    padding:0px 10px 10px;
}

li a:hover{
    background-color: indigo;
}






img{
    height:250px;
    width:250px;

}



H2,H3{
    Color:navy;
    font-size: 24pt;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    padding: 30px;
    margin:20px;

}

#mugContainer1{
    float: left;
    width: 33%;

}

#mugContainer2{
    display: inline-block;
    width:33%;

}
#mugContainer3{
    float: right;
    width: 33%;

}

#mug1{
    background-color: aqua;
    width:33%;
    float:left;
}

#mug2{
    background-color: chartreuse;
    width:33%;
    display: inline-block;
}

#mug3{
    background-color: hotpink;
    width:33%;
    float: right;
}

p{
    font-family:"verdana";
    p:navy;
    font-size:12pt;
}


footer::after{
    content: "The Marc Corporation";
    color: slategrey;
    background-color: lightsteelblue;
    font-family: 'Pacifico', cursive;
    font-size: 18pt;
}




h1::first-letter{
    font-size: 200%;
    color: orchid;

}








